@mixin transition() {
  transition: all 0.5s ease;
}

@mixin btn() {
  border: 2px solid $txt-primary-color;
  border-radius: 5px;
  background-color: transparent;
  color: $txt-primary-color;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 0.4rem 2rem;
  text-decoration: none;
  @include transition();

  &:hover {
    background-color: $txt-primary-color;
    color: $txt-secondary-color;
    @include transition();
  }
}

@mixin btn-primary() {
  border-color: $btn-primary-color;
  background-color: $btn-primary-color;
  color: $txt-primary-color;

  &:hover {
    background-color: lighten($btn-primary-color, 5%);
    border-color: lighten($btn-primary-color, 5%);
    color: $txt-primary-color;
    text-decoration: none;
  }
}

@mixin btn-secondary() {
  background-color: $btn-secondary-color;
  border-color: $btn-secondary-color;

  &:hover {
    background-color: darken($btn-secondary-color, 5%);
    border-color: darken($btn-secondary-color, 5%);
    color: $txt-primary-color;
  }
}

@mixin btn-tertiary() {
  background-color: $bg-primary-color;
  border-color: $bg-primary-color;
  padding: 0.4rem 1rem;

  &:hover {
    background-color: lighten($bg-primary-color, 10%);
    border-color: lighten($bg-primary-color, 10%);
    color: $txt-primary-color;
  }
}

@mixin btn-quartenary() {
  background-color: transparent;
  border-color: $bg-primary-color;
  color: $bg-primary-color;

  &:hover {
    background-color: $bg-primary-color;
    border-color: darken($bg-primary-color, 5%);
    color: $txt-primary-color;
  }
}

@mixin btn-red() {
  background-color: $error;
  border-color: $error;
  color: $txt-primary-color;

  &:hover {
    background-color: darken($error, 20%);
    border-color: darken($error, 20%);
    color: $txt-primary-color;
  }
}
