// FontAwesome
$fa-font-path: "../webfonts";
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body, input, select, button, textarea {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
