$bg-primary-color: rgb(51, 56, 75);
// $bg-secondary-color: rgb(255, 255, 255);
$bg-secondary-color: rgb(245, 249, 252);
$bg-tertiary-color: rgb(8, 169, 217);
$txt-primary-color: rgb(255, 255, 255);
$txt-secondary-color: rgb(51, 56, 75);
$txt-tertiary-color: rgb(30, 30, 36);
$btn-primary-color: rgb(9, 130, 166);
$btn-secondary-color: rgb(8, 170, 75);

$error: rgb(197, 40, 61);
$success: rgb(8, 170, 75);
