.agencias {

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
  }

  &__item {
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 0 1.5rem 1.5rem 0;
    width: 350px;
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__tit {
    color: lighten($bg-primary-color, 10%);
    font-size: 1rem;
    font-weight: 500;
  }

  &__dl {
    box-sizing: border-box;
    display: block;
    margin: 3rem 0;
    padding: 0;
  }

  &__dt {
    box-sizing: border-box;
    color: $txt-secondary-color;
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }

  &__dd {
    box-sizing: border-box;
    color: $txt-secondary-color;
    font-size: 0.85rem;
    font-weight: normal;
    margin: 0.2rem 0 1rem 0;
    padding: 0;
  }

  &__btn {
    box-sizing: border-box;
    min-width: 120px;
  }
}

.agencia-form {
  &__body {
    box-sizing: border-box;
  }
  
  &__wrapper {
    box-sizing: border-box;
    padding: 3rem 0;
    width: 550px;
  }

  &__tit {
    color: $txt-secondary-color;
    font-size: 2rem;
    font-weight: normal;
  }

  &__form {}
  
  &__fieldset {
    align-items: flex-start;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  &__legend {
    color: $txt-secondary-color;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  &__label {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
  }

  &__input {
    box-sizing: border-box;
    border: 2px solid darken($txt-primary-color, 10%);
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    padding: 0.7rem;
    width: 100%;

    &:disabled {
      background-color: darken($txt-primary-color, 8%);
    }
  }

  &__subtit {
    color: $txt-secondary-color;
    font-weight: normal;
  }

  &__txt {
    color: $txt-secondary-color;
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }

  &__submit {
    margin: 1rem auto;
  }

  &__clientes {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &-item {
      align-items: center;
      background-color: darken($txt-primary-color, 10%);
      box-sizing: border-box;
      color: lighten($txt-secondary-color, 10%);
      display: flex;
      font-size: 0.8rem;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 0.1rem 0;
      padding: 0.8rem;

      i {
        color: lighten($txt-secondary-color, 10%);
        cursor: pointer;
        @include transition();

        &:hover {
          color: darken($txt-secondary-color, 10%);
          @include transition();
        }
      }
    }

    &-nome {}
  }
}

#clientes {
  margin-bottom: 0.5rem;
}