.banner-steps-wrapper {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner-steps {
  width: 100%;
  border: 1px solid #f5f9fc;
  border-radius: 3px;
  box-sizing: border-box;
  height: 82px;

  &__ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-sizing: border-box;

    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  &__li {
    position: relative;
    width: 25%;
    background: lighten(rgb(167, 202, 228), 10%);
    height: 80px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;

    &:not(:last-of-type):after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-radius: 3px;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid lighten(rgb(167, 202, 228), 10%);
      position: absolute;
      top: 50%;
      margin-top: -40px;
      left: 100%;
      z-index: 2;
      transition: all .5s ease;
    }

    &:not(:last-of-type):before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-radius: 3px;
      border-top: 43px solid transparent;
      border-bottom: 43px solid transparent;
      border-left: 43px solid rgb(245, 249, 252);
      position: absolute;
      top: 50%;
      margin-top: -43px;
      margin-left: 1px;
      left: 100%;
      z-index: 1;
    }

    &:hover {
      background: darken(rgb(245, 249, 252), 5%);
      transition: all .5s ease;

      &:after {
        border-left-color: darken(rgb(245, 249, 252), 5%)!important;
        transition: all .5s ease;
      }
    }

    &--active {
      background: rgb(245, 249, 252);

      &:after {
        border-left-color: rgb(245, 249, 252)!important;
      }

      i {
        color: rgb(245, 249, 252);
      }
    }

    &--completed {
      background: rgb(211, 244, 229);

      &:after {
        border-left-color: rgb(211, 244, 229)!important;
      }

      & > a {
        color: darken(rgb(211, 244, 229), 60%);
      }

      &:hover {
        background: darken(rgb(211, 244, 229), 5%);

        &:after {
          border-left-color: darken(rgb(211, 244, 229), 5%)!important;
        }
      }

      span {
        color: darken(#d5d5d5, 30%);

        &:first-of-type {
          color: darken(#d5d5d5, 40%);
        }
      }

      .banner-steps__icon {
        background-color: darken(rgb(211, 244, 229), 60%);

        i {
          color: rgb(211, 244, 229);
        }
      }
    }
  }

  &__a {
    align-items: center;
    position: relative;
    color: rgb(21, 48, 68);
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    align-items: center;
    background-color: rgb(21, 48, 68);
    border-radius: 50%;
    color: rgb(206, 226, 240);
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 1rem;
  }

  &__upload-li {
    display: flex;
    flex-direction: column;
  }

  &__upload-filename {
    font-size: 0.8rem;
    font-weight: normal;
  }
  &__upload-filesize {
    color: darken($txt-primary-color, 60%);
    font-size: 0.8rem;
    font-weight: normal;
  }

  &__psd {
    padding-top: .5em;
    font-size: .8em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &--name {
      color: darken(rgb(167, 202, 228), 50%);
      margin: 0 .25rem;
    }

    &--size {
      color: darken(#d5d5d5, 30%);
      margin: 0 .25rem;
    }
  }

  &__footer {
    background-color: #cee2f0;
    box-sizing: border-box;
    height: 45px;
  }
}

.step {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 80px);
  justify-content: center;
}

// STEP #1 - Psd File
.project__input-upload-file {
  display: none;
}

.psdfile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  &__footer {
    width: 100%;
    height: 10%;
    background: #cee2f0;
    text-align: right;
    vertical-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
  }

  &__dialog {
    border: 3px solid white;
    border-radius: 3px;
    background: rgb(225, 237, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    h4 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.3em;
      color: #33394c;
      letter-spacing: 1px;
    }

    p {
      font-size: 1em;
      color: #33394c;
      font-weight: 400;
    }

    & > ul {
      list-style: none;
      padding: 0;
      box-shadow: inset 0px -38px 32px -14px rgba(225, 237, 246, 0.85);

      li {
        font-weight: 400;
        color: #33394c;
        font-size: .9em;
        padding: .3em;
        margin: 0 0 0 .5em;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li {
            border-left: 1px solid gray;
            padding-left: .8em;
          }
        }
      }
    }
  }
}

// STEP #2 - Animações

// STEP #3 - ClickTags
.clicktags {
  &__wrapper {
    border: 3px solid white;
    border-radius: 3px;
    background: rgb(225, 237, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    max-width: 700px;
  }
  &__tit {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
    color: #33394c;
    letter-spacing: 1px;
  }
  &__txt {
    font-size: 1em;
    color: #33394c;
    font-weight: 400;
    line-height: 1.8;
  }
  &__list {
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem;
    justify-content: center;
  }
  &__list-item {
    box-sizing: border-box;
    width: 35%;
    padding: 0.5rem;
    margin-left: 1rem;
    color: #33394c;
    i {
      cursor: pointer;
    }
  }
}

// STEP #4 - Download Pack
.download-pack {
  &__wrapper {
    border: 3px solid white;
    border-radius: 3px;
    background: rgb(225, 237, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    box-sizing: border-box;
    max-width: 600px;
  }
  &__tit {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
    color: #33394c;
    letter-spacing: 1px;
  }
  &__txt {
    font-size: 1em;
    color: #33394c;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
  }
  &__list {
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5rem;
    justify-content: center;
  }
  &__list-item {
    box-sizing: border-box;
    width: 35%;
    padding: 0.5rem;
    margin-left: 1rem;
    color: #33394c;
    i {
      cursor: pointer;
    }
  }
}