.campanhas {

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
  }

  &__item {
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 0 1rem 1rem 0;
    width: 300px;
  }

  &__tit {
    color: lighten($bg-primary-color, 10%);
    font-size: 1rem;
  }
}