.login {
  background: $bg-primary-color;
  color: $txt-primary-color;
  height: 100vh;

  &__header {
    height: 15%;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__nav {
    margin: 0;
    padding: 0 2rem;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &__txt {
    text-align: left;
    width: 100%;

    &-nav {
      width: auto;
      padding: 0 2rem;
    }
  }

  &__section {
    height: 85%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 4.5rem 0;
  }

  &__form {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__legend {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    width: 100%;
  }

  &__label {
    width: 100%;
    font-size: 0.8rem;
  }

  &__input {
    width: 100%;
    margin: 0.5rem 0 2rem 0;
    border: 2px solid darken($bg-primary-color, 1%);
    padding: 0.6rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 4px;
    box-sizing: border-box;
    @include transition();
  }

  &__submit {
    margin: 2rem auto;;
  }

  &__msg {
    width: 100%;
    text-align: left;
    padding: 0.7rem 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;

    i {
      margin: 0 0.5rem 0 0.2rem;
    }

    &--error {
      background-color: lighten($error, 46%);
      color: $error;
      border-color: $error;
    }

    &--success {
      background-color: lighten($success, 63%);
      color: $success;
      border-color: $success;
    }
  }

  &__btn-wrapper {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;

    button {
      margin: 0;
      text-align: center;
    }
  }

  &__save-password {
    margin: 0 auto 2rem auto;
  }
}

