.signup {
  box-sizing: border-box;

  &__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: lighter;
    color: $txt-secondary-color;
    padding: 0;
    text-align: left;
    width: 500px;
    margin-top: 10%;
  }

  &__form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__fieldset {
    box-sizing: border-box;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__legend {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: $txt-secondary-color;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  &__label {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: 2px solid darken($bg-secondary-color, 15%);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  &__submit {
    margin: 1rem auto;
  }
}