.footer {
  align-items: center;
  background-color: lighten(rgb(167, 202, 228), 10%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  padding: 0 1.5rem;
  width: 100%;

  &--sb {
    justify-content: space-between;
  }
}