.form {
  &__msg {
    width: 100%;
    text-align: left;
    padding: 0.7rem 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;

    i {
      margin: 0 0.5rem 0 0.2rem;
    }

    &--error {
      background-color: lighten($error, 46%);
      color: $error;
      border-color: $error;
    }

    &--success {
      background-color: lighten($success, 63%);
      color: $success;
      border-color: $success;
    }
  }
}

input {
  border: 2px solid;
  color: lighten($txt-tertiary-color, 30%);
  @include transition();

  &:focus {
    color: $txt-tertiary-color;
    @include transition();
  }
}

input:invalid:focus {
  // border-width: 2px;
  // border-color: $error;
  // outline: none;
}