.header {
  align-items: center;
  background: lighten($bg-tertiary-color, 53%);
  box-sizing: border-box;
  border-bottom: 1px solid darken($bg-tertiary-color, 0%);
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;

  &__tit-wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 0.5rem;
    width: calc(100% - 150px);
  }

  &__tit {
    box-sizing: border-box;
    color: $txt-secondary-color;
    font-size: 1rem;
    padding: 0.5rem;

    &--previous {
      color: lighten($bg-tertiary-color, 5%);
    }
  }

  &__search-wrapper {    
    border-right: 1px solid darken($bg-tertiary-color, 0%);
    border-left: 1px solid darken($bg-tertiary-color, 0%);
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    width: 50px;
  }

  &__search {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include transition();

    i {
      color: $txt-secondary-color;
      font-size: 1rem;
    }

    &:hover {
      background: lighten($bg-tertiary-color, 48%);
      @include transition();

      i {
        color: darken($txt-secondary-color, 50%);
      }
    }
  }

  &__profile-wrapper {
    align-items: center;
    box-sizing: border-box;
    color: $txt-secondary-color;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100px;
  }

  &__profile {
    align-items: center;
    border-radius: 200%;
    border: 1px solid darken($bg-tertiary-color, 0%);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 0.5rem;
    overflow: hidden;
    width: 30px;
    @include transition();

    i {
      font-size: 1.7rem;
      margin-top: 10px;
      @include transition();
    }

    &:hover {
      background: lighten($bg-tertiary-color, 48%);
      border-color: darken($bg-tertiary-color, 10%);
      @include transition();

      i {
        color: darken($txt-secondary-color, 50%);
        @include transition();
      }
    }
  }

  &__profile-menu {
    cursor: pointer;
    margin: 0 0.5rem;
    @include transition();

    i {
      font-size: 1.4rem;
      @include transition();
    }

    &:hover {
      @include transition();

      i {
        color: lighten($txt-secondary-color, 10%);
        @include transition();
      }
    }
  }
}

.profile-menu {
  background-color: lighten($bg-tertiary-color, 53%);
  border-radius: 4px;
  box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: none;
  padding: 1rem 1.2rem;
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 100;

  &__lista {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-of-type) {
    padding: 0 0 1rem 0;
  }

  &__link {
    color: $txt-secondary-color;
    font-size: 1rem;
    text-decoration: none;
    @include transition();

    i {
      margin-right: 0.5rem;
      @include transition();
    }

    &:hover {
      color: lighten($txt-secondary-color, 20%);
      @include transition();

      i {
        @include transition();
      }
    }
  }

  &--fadeIn {
    animation: profileMenuFadeIn 0.3s ease;
  }

  &--fadeOut {
    animation: profileMenuFadeOut 0.3s ease;
  }

  &--show {
    display: block;
  }
}

@keyframes profileMenuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes profileMenuFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
