.menu-wrapper {
  min-width: 250px;
  width: 15%;
  min-height: 100vh;
  margin: 0;
  background-color: $bg-primary-color;
  box-sizing: border-box;
  transition: width .8s ease-in-out;  

  &--collapsed {
    width: 15%;
    min-width: 0;
    max-width: 70px;

    .menu {
      box-sizing: border-box;
      transition: width .8s ease;

      &__collapse-menu {}

      .menu-list {
        box-sizing: border-box;
        transition: width .8s ease;

        &__item {
          box-sizing: border-box;
        }

        &__link {
          margin: 0 auto;
          box-sizing: border-box;
          text-align: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  &__logo {
    margin: 0;
    padding: 1.5em;
    color: $bg-secondary-color;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px lighten($bg-primary-color, 30%);
    cursor: default;
    text-indent: 500%;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background: url('../images/logo.png') center center no-repeat;
    @include transition();

    &:hover {
      color: darken($bg-secondary-color, 20%);
      @include transition();
    }
  }
}

.menu {
  &__collapse-menu {
    text-align: center;
    width: 3.2em;
    background: $bg-secondary-color;
    display: block;
    float: right;
    clear: both;
    padding: .9em 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: $bg-primary-color;
    font-size: .7em;
    margin: 0 0 1.5em 0;
    cursor: pointer;
    background: $bg-secondary-color;
    border: 2px solid transparent;
    @include transition();

    &:hover {
      border-color: $bg-secondary-color;
      @include transition();

      i {
        text-shadow: -1px -1px $bg-secondary-color, 1px -1px $bg-secondary-color, -1px 1px $bg-secondary-color, 1px 1px $bg-secondary-color;
      }
    }
  }
}

.menu-list {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  display: block;
  clear: both;

  &__item {
    color: darken($bg-secondary-color, 20%);
    border-top: 1px solid lighten($bg-primary-color, 5%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7rem;
    letter-spacing: 2px;
    @include transition();

    &:first-of-type {
      border-top: none;
    }

    &:hover {
      border-color: lighten($bg-primary-color, 10%);
      @include transition();

      & + li {
        border-color: lighten($bg-primary-color, 10%);
        @include transition();
      }
    }
  }

  &__link {
    color: darken($bg-secondary-color, 20%);
    width: 100%;
    height: 100%;
    display: block;
    padding: 1.3em 2em;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    text-decoration: none;
    font-size: .7rem;
    @include transition();

    &:hover {
      color: $bg-secondary-color;
      background-color: lighten($bg-primary-color, 20%);
      border-left-color: lighten($bg-primary-color, 5%);
      @include transition();
    }

    i {
      margin-right: .5em;
    }

    &--active {
      background-color: $bg-tertiary-color;
      border-left: 5px solid darken($bg-tertiary-color, 10%);
      color: $txt-primary-color;
      @include transition();

      &:hover {
        background-color: darken($bg-tertiary-color, 10%);
        border-left-color: darken($bg-tertiary-color, 20%);
        @include transition();
      }
    }
  }
}