.loggedin {
  display: flex;
  flex-direction: row;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

.section {
  background-color: $bg-secondary-color;
  box-sizing: border-box;
  height: calc(100% - 120px);
  padding: 1.5rem;

  &__banner {
    padding: 0;
  }
}