.modal {
  background: #fff;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  width: 100vw;

  &--slideUp {
    animation: slideUp 0.8s ease forwards;
  }

  &--slideDown {
    animation: slideDown 0.8s ease;
  }

  &--show {
    display: flex;
    opacity: 1;
  }

  &__header {
    border-bottom: 2px solid darken(#fff, 15%);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  &__btn-close {
    padding: 0;
    margin: 0 0.5rem 0 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border: 0;
    background: transparent;
    cursor: pointer;
    @include transition();

    &:hover:after, &:hover:before {
      background-color: lighten($bg-primary-color, 35%);
      @include transition();
    }

    &:after, &:before {
      content: '';
      height: 60%;
      position: absolute;
      width: 2px;
      background-color: lighten($bg-primary-color, 10%);
      @include transition();
    }

    &:after {
      top: 15%;
      right: 49%;
      transform: rotate(47deg);
    }

    &:before {
      top: 15%;
      left: 49%;
      transform: rotate(-47deg);
    }
  }

  &__body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 1rem 0;
  }

  &__footer {
    height: 3rem;
    box-sizing: border-box;
  }
}


@keyframes slideUp {
  0% {
    display: flex;
    transform: translateY(100%);
  }
  100% {
    display: flex;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  99.99% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    bottom: 0;
    opacity: 0;
  }
}

// Modal Pop-up
.modal-popup {
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  &__bg {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    left: 0;
    padding: 10rem 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__wrapper {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 600px;
  }

  &__header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
  }

  &__tit {
    color: $txt-secondary-color;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  &__btn-close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    width: 20px;
    @include transition();

    &:hover:after, &:hover:before {
      background-color: lighten($bg-primary-color, 35%);
      @include transition();
    }

    &:after, &:before {
      background-color: lighten($bg-primary-color, 10%);
      content: '';
      height: 100%;
      left: 10px;
      position: absolute;
      width: 1px;
      @include transition();
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
  
  &__body {
    box-sizing: border-box;
    padding: 0 2rem;
  }

  &__txt {
    color: $txt-secondary-color;
    font-size: 1rem;
    margin: 0;
  }
  
  &__footer {
    display: flex;
    border-top: 2px solid darken($txt-primary-color, 10%);
    box-sizing: border-box;
    justify-content: space-between;
    margin: 1rem 0 0 0;
    padding: 1.5rem 2rem;
  }

  &--show {
    display: block;
    opacity: 1;
  }

  &--fadeIn {
    animation: modalPopupFadeIn 0.4s ease;
  }

  &--fadeOut {
    animation: modalPopupFadeOut 0.4s ease forwards;
  }
}

@keyframes modalPopupFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalPopupFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
