.snackbar {
  background: lighten($success, 60%);
  border: 1px solid $success;
  border-radius: 4px;
  box-shadow: -3px 3px 3px -1px rgba(0, 0, 0, 0.3);
  color: darken($success, 10%);
  cursor: default;
  display: none;
  padding: 1rem;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 400px;

  &__txt {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      margin: 0 0.5rem 0 0;
    }
  }

  &__slideDown {
    animation: snackbarSlideDown 0.5s ease;
  }

  &__fadeOut {
    animation: snackbarFadeOut 0.5s ease;
  }

  &__show {
    display: block;
  }
}

@keyframes snackbarSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes snackbarFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
