@charset 'utf-8';

// Normalize CSS
@import './node_modules/normalize-scss/sass/normalize';
@include normalize();

// Utilities
@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/variables';
@import 'utilities/typography';

// Layout
@import 'layout/loggedin';
@import 'layout/header';
@import 'layout/leftnav';
@import 'layout/footer';
@import 'layout/modal';
@import 'layout/forms';
@import 'layout/snackbar';

// Pages
@import 'pages/login';
@import 'pages/signup';
@import 'pages/home';
@import 'pages/usuarios';
@import 'pages/agencias';
@import 'pages/clientes';
@import 'pages/campaigns';
@import 'pages/creatives';
@import 'pages/banners';

body {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  @include btn();

  &.btn-primary {
    @include btn-primary();
  }

  &.btn-secondary {
    @include btn-secondary();
  }

  &.btn-tertiary {
    @include btn-tertiary();
  }

  &.btn-quartenary {
    @include btn-quartenary();
  }

  &.btn-red {
    @include btn-red();
  }
}

.link {
  &:link, &:active {
    color: $txt-primary-color;
    font-size: 0.9rem;
    text-decoration: underline;
  }

  &:visited, &:hover {
    color: $txt-primary-color;
    text-decoration: none;
    @include transition();
  }
}

.radio {
  box-sizing: border-box;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid darken($bg-secondary-color, 10%);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--checked {
    border-color: $bg-primary-color;
    border-width: 2px;

    .radio__check {
      opacity: 1;
      @include transition();
    }
  }

  &__check {
    background-color: $bg-primary-color;
    border: 0;
    border-radius: 50%;
    box-sizing: border-box;
    height: 10px;
    opacity: 0;
    width: 10px;
    @include transition();
  }
}
